#live-chat {
    z-index: 999;
}

#live-chat header {
	background: #3f4079;
	border-radius: 5px 5px 0 0;
	color: #fff;
    padding: 13px 24px;
    min-height: unset !important
}

#live-chat h4 {
    color: #fff !important;
    margin-bottom: 0
}

#live-chat h4 {
	font-size: 12px;
}

#live-chat h5 {
	font-size: 15px;
	margin-bottom: 0;
}

#live-chat form {
	padding: 24px;
	display: flex;
}

#live-chat form .btn_1 {
	margin-left: 15px;
	border-radius: 3px;
	padding: 11px 20px;
}

#live-chat input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	outline: none;
}

.chat-message-counter {
	background: #e62727;
	border: 1px solid #fff;
	border-radius: 50%;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	left: 0;
	line-height: 28px;
	margin: -15px 0 0 -15px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 28px;
}

.chat-close {
    background: #323365;
    border-radius: 50%;
    color: #fff;    
    display: block;
    float: right;
    font-size: 9px;
    height: 18px;
    line-height: 19px;
    margin-top: -2px;
    text-align: center;
    width: 18px;
}

.chat {
	background: #fff;
}




.chat-history {
	overflow-y: scroll;
	height: 60vh;
	position: relative;
}

.chat-message {
	padding: 25px 24px;
}

.chat-message img {
	border-radius: 50%;
}

.chat-message-content {
	margin-left: 56px;
}

.chat-time {
	font-size: 12px;
	margin-bottom: 7px;
	display: inline-block;
}

.chat-feedback {
	font-style: italic;	
	margin: 0 0 0 80px;
}

.message-item {
    cursor: pointer
}

.chat-message {
	display: flex;
}

.chat-message-content {
	margin-left: 20px;
	flex: 1
}

.chat-message-content p {
	margin-bottom: 0
}

.chat-message img {
	float: none;
	width: 50px;
	height: 50px;
}

.chat-message.sender {
	justify-content: flex-end;
	background-color: #f2f9fe;
}

.chat-message.sender img{
	order: 2
}

.chat-message.sender .chat-message-content{
	margin-left: 0;
	margin-right: 20px;
	text-align: right
}
